@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Click Here to Add a Student</a></h1>
</div>
