@{
    ViewData["Title"] = "Home Page";
}





<section class="s1">
    <div class="main-container">
      

        <div class="intro-wrapper">
            <div class="nav-wrapper">

                <div class="media border p-3">
                    <img src="./css/Images/me.png.JPG" alt="Peter Galas" class="mr-3 mt-3 rounded-circle" style="width:100px;">
                    <div class="media-body">
                        <h4 class="name">Peter Galas</h4>
                        <p class="job-title">Jr. Software engineer</p>
                        <br />
                        <ul>
                            <li>North Port, Florida</li>
                            <li>Petergalas757@gmail.com</li>
                        </ul>
                    </div>
                </div>

                <div class="container-paragraph">
                    <p>
                        Welcome to my personal Coding porfolio! I am ready to start working on new projects with you.
                        Expand my knowledge, building and solving programming problems, for real world experiences and better improved overall business and user experience.
                    </p>
                </div>
            </div>

        </div>
        
    </div>
</section>

<section class="s2">
    <div class="main-container">
        </div>
        <div class="about-wrapper">
            <div class="about-me">
                <h4>More about me</h4>

                <p>I build new Projects just to expand my knowledge, I've always loved programming and my passion hasn't stopped since! I strive for the next mission!</p>

                <p>
                    While I keep busy learning new methods and ways of doing my projects, I like learning new things Coding related! I Love to
                    be around all my friends and family. Spending times out doors Surfing, snowboarding, working out, I love cars and building them, watching movies and shows. My Goals are
                    growing and developing new projects working and adapting to produce the best of my work!
                </p>


                <hr>

                <h4>TOP EXPERTISE</h4>

                <p>Fullstack developer with primary focus on C# .NET FrameWork, React, Angular, SQL: <a target="_blank" href="PeterGalasResume Primary.pdf">Download Resume</a></p>

                <div id="skills">
                    <ul>
                        <li>C#</li>
                        <li>.NET FrameWork</li>
                        <li>JavaScript</li>
                        <li>React</li>
                        <li>Bootstrap</li>
                    </ul>

                    <ul>
                        <li>Google Maps API</li>
                        <li>Object Oriented Programming</li>
                        <li>Microsoft SQL</li>
                        <li>CSS</li>
                        <li>MVC</li>
                    </ul>

                </div>

            </div>
        </div>
</section>

<section class="s1">
    <div class="main-container">
        <h3 style="text-align: center;">Some of my past projects</h3>


        <div>
            <div class="post">
                <img class="thumbnail" src="/css/Images/enterprise.jpg">
                <div class="post-preview">
                    <h6 class="post-title">Add me on LinkedIn</h6>
                    <p class="post-intro">Lets Connect.</p>
                    <a target="_blank" href="https://www.linkedin.com/feed/">LinkedIn: Peter Galas</a>
                </div>
            </div>

            <div>
                <div class="post">
                    <img class="thumbnail" src="/css/Images/Tech.jpg">
                    <div class="post-preview">
                        <h6 class="post-title">Github</h6>
                        <p class="post-intro">You can check out my projects on Github!</p>
                        <a target="_blank" href="https://github.com/PeterGalas/C-Sharp-Projects">Github: Peter Galas</a>
                    </div>
                </div>
            </div>

            <div class="post">
                <img class="thumbnail" src="/css/Images/Tools.jpg">
                <div class="post-preview">
                    <h3 class="post-title">Open to new ideas and new leads.</h3>

                </div>
            </div>
        </div>

        <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Knockledge</h1>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-start">

            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/css/Images/HTML_CSS_and_JavaScript.jpeg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/css/Images/SQL_and_Database.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/css/Images/C_Sharp_and_Dot_NET (1).png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/css/Images/GitHub.png" alt="">
                </a>
            </div>

        </div>
</section>


